{
  "presets": ["react-native"],
  "plugins": [
    "jsx-control-statements",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]
  ]
}
